{% extends 'base.html.twig' %}

{% block title %}
    Records list
{% endblock %}

{% block body %}
    <h1>To do list</h1>
    {% if data is defined and data|length %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Task</th>
                <th>Tags</th>
                <th scope="col">
                    View
                </th>
            </tr>
            </thead>
            <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.title }}</td>
                    <td>{{ item.tags|join(', ') }}</td>
                    <td>&nbsp;</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>
            Empty list.
        </p>
    {% endif %}
{% endblock  %}