{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_todolist_edit'|trans({'%id%': todolist.id|default('')}) }}
{% endblock %}

{% block body %}
    {% block header %}
        <h1>{{ 'virtual_note'|trans }}</h1>
    {% endblock %}

    {% include 'default/_form.html.twig' with {
        page_title: 'title_todolist_edit',
        page_title_param: {'%id%': todolist.id},
        attr: {
            method: 'PUT',
            action: url('todolist_edit', {'id': todolist.id}),
        },
        form: form,
        back_to_list_path: 'todolist_index',
    } %}
{% endblock %}