{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_categories_edit'|trans({'%id%': categories.id|default('')}) }}
{% endblock %}

{% block body %}
    {% block header %}
        <h1>{{ 'virtual_note'|trans }}</h1>
    {% endblock %}

    {% include 'default/_form.html.twig' with {
        page_title: 'title_categories_edit',
        page_title_param: {'%id%': categories.id},
        attr: {
            method: 'PUT',
            action: url('categories_edit', {'id': categories.id}),
        },
        form: form,
        back_to_list_path: 'categories_index',
    } %}
{% endblock %}