{% extends 'base.html.twig' %}

{% block title %}
    {{ 'virtual_note'|trans }}
{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
    <div>
        <article>
            <h1>Załóż konto, żeby korzystać z Wirtualnego Notatnika.</h1>
        </article>
    </div>
{% endblock %}